VITE_FIREBASE_API_KEY=AIzaSyCuyP5DTQpXAAjZ3RmNz3EnFYxMjs1qv58
VITE_FIREBASE_AUTH_DOMAIN=client-data-71998.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=client-data-71998
VITE_FIREBASE_STORAGE_BUCKET=client-data-71998.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=612683633017
VITE_FIREBASE_APP_ID=1:612683633017:web:5589be1ba96f39171bdfa8
VITE_FIREBASE_MEASUREMENT_ID=G-DP1F8HYS4G
